.films {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.film {
  width: 215px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: gray;

  &__img {
    width: 100%;
    height: 300px;
    display: inline-block;
    border: 1px solid red;
  }

  &__title {
    font-size: 25px;
    font-weight: bold;
    color: gold;
    text-shadow: -2px 2px 0 red;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__year {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    color: gold;
    text-shadow: -1px 1px black;
  }
}